<div class="loginHolder">

    <mat-card class="ltrpad50">


        <mat-card-title style="margin-bottom: 10px;">Sign up</mat-card-title>
        <form>
              <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput required>
            </mat-form-field>
 <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput required>
            </mat-form-field>
 <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput required>
            </mat-form-field>


             <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput required>
            </mat-form-field>

           <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput required>
            </mat-form-field>

            <mat-card-actions align="end">
                <button color='primary' mat-raised-button>Login as Citizen</button>
                <button color='warn' mat-raised-button>Login as Service Provider</button>
            </mat-card-actions>



        </form>
    </mat-card>
   
    <div class="space"></div>
   <mat-card class="ltrpad50">
 <form>
        
  
        <mat-card-title>Already Registered? </mat-card-title>

        <mat-card-content>If you are already registerd  login !</mat-card-content>
        <mat-card-actions align='end'>
            <a routerLink="/home/login" color='primary' mat-button>Login</a>
     
        </mat-card-actions>
   </form>    </mat-card>

</div>