

.loginHolder{
 
    margin-top: 10%;
   margin-bottom: auto;        display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
 
     
      }
     
mat-form-field{
    display: block;
}

button{
    margin-right: 10px;
    margin-left: 10px;
}

mat-card{
    max-width: 60%;
    min-height: 60%;
}

.btns{
    float: right;
}

.space{
    width: 100px;
    height: 50px;
}

.ltrpad50{
   padding-top: 50px; padding-left: 50px; padding-right: 50px;
}