<div class="loginHolder">

    <mat-card class="ltrpad50">


        <mat-card-title style="margin-bottom: 10px;">Sign up</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="signup()">
            <mat-form-field>
                <mat-label>Full Name</mat-label>

                <input formControlName="fullname" name="fullname" matInput required>
                <mat-error *ngIf="isError('fullname')">
                    You must provide a valid <strong>fullname</strong>
                </mat-error>

            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input formControlName="username" name="username" matInput required>
                <mat-error *ngIf="isError('username')">
                    You must provide a valid <strong>username</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" name="password" matInput required>
                <mat-error *ngIf="isError('password')">
                    You must provide a valid <strong>password</strong>
                </mat-error>

            </mat-form-field>

            <mat-form-field>
                <mat-label>Address</mat-label>
                <input formControlName="address" name="address" matInput required>
                <mat-error *ngIf="isError('address')">
                    You must provide a valid <strong>address</strong>
                </mat-error>

            </mat-form-field>


            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input formControlName="phone" name="phone" matInput required>
                <mat-error *ngIf="isError('phone')">
                    You must provide a valid <strong>phone</strong>
                </mat-error>

            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" name="email" matInput required>
                <mat-error *ngIf="isError('email')">
                    You must provide a valid <strong>email</strong>
                </mat-error>

            </mat-form-field>

            <mat-card-actions align="end">
                <button type="submit" color='primary' mat-raised-button>Signup as {{userType}}</button>
            </mat-card-actions>



        </form>
    </mat-card>

    <div class="space"></div>
    <mat-card class="ltrpad50">
        <form>


            <mat-card-title>Already Registered? </mat-card-title>

            <mat-card-content>If you are already registerd login !</mat-card-content>
            <mat-card-actions align='end'>
                <a routerLink="/login" color='primary' mat-button>Login</a>

            </mat-card-actions>
        </form>
    </mat-card>

</div>