<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Post Shout</h1>
    </div>

    <div class="section-body">

      <div class="card">
        <div class="card-header">
          <h4>Insert Shout Information</h4>
        </div>
        <div class="card-body">
          <div *ngIf="false" class="alert alert-info">
          </div>
          <div class="form-group">
            <label>Shout Title</label>
            <input [(ngModel)]="shout.shoutTitle" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Shout Message</label>
            <input [(ngModel)]="shout.shoutmessage" type="text" class="form-control">
          </div>

          <div class="row">
            <div class="form-group col-auto">
            <label>Location</label>
            <input [(ngModel)]="shout.categoryId" type="text" class="form-control">
          </div>
            <div class="form-group col-auto">
            <label>Category</label>
            <input [(ngModel)]="shout.categoryId" type="text" class="form-control">
          </div>
          </div>

        </div>

        <div class="card-footer text-right">
          <button (click)="postShout()" class="btn btn-primary mr-1" type="submit">Submit</button>
          <button class="btn btn-secondary" type="reset">Reset</button>
        </div>
      </div>
    </div>
  </section>
</div>