<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Shouts</h1>
        </div>

        <div class="section-body">

            <div *ngFor="let s of shouts" class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">{{s.shoutTitle}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{s.shoutmessage}}</p>

                    <div class="float-right">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>

                </div>
            </div>




        </div>
    </section>
</div>