<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Shouts</h1>
        </div>

        <div class="section-body">

            <div *ngFor="let number of [0,1,2,3,4]" class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">Card Title</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                    <div class="float-right">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>

                </div>
            </div>




        </div>
    </section>
</div>