


.loginHolder{
 
     margin-top: 5%;
    margin-bottom: auto;        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
  
      
       }
      
 mat-form-field{
     display: block;
 }

 button{
     margin-right: 10px;
     margin-left: 10px;
 }

 mat-card{
     align-items: center;
     width: 500px;
 }

 .btns{
     float: right;
 }

 .space{
     width: 100px;
     height: 50px;
 }

 .ltrpad50{
    padding-top: 50px; padding-left: 50px; padding-right: 50px;
 }