<mat-sidenav-container>
    <mat-sidenav #drawer opened mode='side'>

        <mat-card (click)='drawer.toggle()'>
            <div style="text-align: center;" class="mat-headline">
                <mat-icon>emoji_people</mat-icon><span style="padding-left: 5px;">Shout</span>
            </div>
        </mat-card>

        <mat-list>

            <mat-card style="margin-top:10px;" *ngFor="let s of shouts">
                <div class="div">
                    {{s.name}}
                </div>
                <div class="div">
                    {{s.location}}
                </div>
                <div class="div">
                    {{s.text}}
                </div>

            </mat-card>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color='primary'>
            <mat-icon (click)='drawer.toggle()'>emoji_people</mat-icon>
            <span [routerLink]="['/']" routerLinkActive="router-link-active" style="padding: 10px;">Citizen Issue
                Solver</span>
            <span class="example-spacer"></span>
            <a routerLink='/login' mat-button>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">man
                </mat-icon><span>Login</span>
            </a>

        </mat-toolbar>


        <div class="contents">

            <button routerLink = '/addcat'>Add category</button>
            <router-outlet></router-outlet>
            <button mat-fab style="width: 80px; height: 80px;" (click)="openDialog()" mat-raised-button color="accent"
                class="md-fab-bottom-right" id="fab-shout" aria-label="Add a category">
                <div class="div">
                    <mat-icon class="scale15">emoji_people</mat-icon>
                </div>

                <div>Shout</div>
            </button>


        </div>






    </mat-sidenav-content>
</mat-sidenav-container>